	<!-- footer -->
		<div class="container-fluid bg-dark w-100 mt-2">
			<h3 class="d-flex justify-content-center "> footer</h3>
			<p class="d-flex justify-content-center">copy not right</p>
		</div>
	<!-- end footer -->