<!-- products -->
		<div class="container mt-2">
			<div class="row">
				<div class="card col-12 col-sm-6 col-md-4" style="width: 18rem;">
				  <img class="card-img-top" src="https://loremflickr.com/280/180" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Product1</h5>
				    <p class="card-text">Sản phẩm tốt....</p>
				    <a href="#" class="btn btn-primary">views</a>
				  </div>
				</div>

				<div class="card col-12 col-sm-6 col-md-4" style="width: 18rem;">
				  <img class="card-img-top" src="https://loremflickr.com/280/180" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Product1</h5>
				    <p class="card-text">Sản phẩm tốt....</p>
				    <a href="#" class="btn btn-primary">views</a>
				  </div>
				</div>

				<div class="card col-12 col-sm-6 col-md-4" style="width: 18rem;">
				  <img class="card-img-top" src="https://loremflickr.com/280/180" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Product1</h5>
				    <p class="card-text">Sản phẩm tốt....</p>
				    <a href="#" class="btn btn-primary">views</a>
				  </div>
				</div>

				<div class="card col-12 col-sm-6 col-md-4" style="width: 18rem;">
				  <img class="card-img-top" src="https://loremflickr.com/280/180" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Product1</h5>
				    <p class="card-text">Sản phẩm tốt....</p>
				    <a href="#" class="btn btn-primary">views</a>
				  </div>
				</div>
			</div>
		</div>
		<nav aria-label="Page navigation example " style="display: flex;justify-content: center;margin-top: 20px;">
		  <ul class="pagination">
		    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
		    <li class="page-item"><a class="page-link" href="#">1</a></li>
		    <li class="page-item"><a class="page-link" href="#">2</a></li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item"><a class="page-link" href="#">Next</a></li>
		  </ul>
		</nav>
	<!-- end products -->